.container {
  display: flex;
  flex-direction: column;
  position: relative;

  .popular {
    display: flex;
    align-items: start;
    justify-content: right;
  }


  .sort {
    position: absolute;
    margin-top: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    background-color: white;
    display: grid;
    gap: 5px;
    padding: 10px 0;

    div {
      padding: 5px 20px;
      border-radius: 5px;
      cursor: pointer;

      .active {
        background-color: rgb(73, 73, 73);
        color: white;
      }
    }
  }
}
