.header {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #fff;
}

.header__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header__wrapper,
.header__left,
.header__right,
.nav__list,
.nav__item {
    display: flex;
}

.header__wrapper,
.header__left,
.header__right {
    align-items: center;
}

.header__wrapper {
    padding: 7px;
    margin: 5px;
    height: 50px;
    justify-content: space-between;
    // display: block;
}


// Left

.header__left {
    gap: 30px;
}

.nav__list,
.header__right,
.header__blue-button {
    text-transform: uppercase;
    font-size: 11px;
}

.nav__list {
    gap: 20px;
}

.nav__item {
    cursor: pointer;
    gap: 5px;
}


.nav__item,
.header__marks {
    position: relative;
}

.nav__item:hover::after,
.header__marks:hover::after {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 0;
    background-color: blue;
    width: 100%;
    height: 4px;
}

// Right

.header__right {
    gap: 14px;

}

.header__themes {
    background-color: #000000;
    width: 55px;
    height: 28px;
    border-radius: 20px;
    padding: 0 5px;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, .1),
                inset 0 8px 8px rgba(0, 0, 0, .1),
                inset 0 -4px 4px rgba(0, 0, 0, .1);

    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.themes__indicator {
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;

    position: absolute;

    box-shadow: 0 8px 40px rgba(0,0,0, .2);
}

.themes__icon-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1px;
}

.themes__icon {
    color: #ff9800;
    font-size: 15px;
}

.header__settings {
    width: 24px;
    height: 24px;
}

.header__blue-button {
    color: #fff;
    background-color: rgb(86, 86, 255);
    padding: 10px 20px;
    border-radius: 20px;
}

@media(max-width: 800px) {
    .header__nav {
        display: none;
    }
}

@media(max-width: 560px) {
    .header__marks,
    .header__themes,
    .header__blue-button {
        display: none;
    }

}