.titles_catalog{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 10px;

  .description{
    display: grid;
    gap: 10px;
    padding: 20px 0;

    img{
      width: 100%;
    }
    div{
      display: flex;
      gap: 10px;
      font-size: 13px;
      span{
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
    span{
      font-size: 14px;
    }
  }
}