:root {
	--gray: #9f9f9f;
	--black: #3c3744;
	--dark-blue: #090c9b;
	--blue: #3d52d5;
	--light-blue: #b4c5e4;
	--white: #fff;
    --light-white: #f5f5f5;
	--blue: #0426bc;

    --font-family: "Inter", sans-serif;
    --second-family: "Geologica", sans-serif;
    --third-family: "Peace Sans", sans-serif;
}